body {
  font-family: "NanumSquare-Bold";
}
.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: black;
}
/* 헤더 영역 */
.header {
  top: 0;
  left: 0;
  width: 100%;
  height: 6.5%;
  background: rgba(255, 255, 255, 0);
  transition: top 0.1s ease-in-out;
  color: white;
  text-align: center;
  position: fixed;
  z-index: 100;
}
.main-nav {
  display: grid;
  grid-template-columns: 0.05fr 0.86fr 0.09fr;
}
.main-nav > div > p {
  padding: 2.2rem;
  font-size: 1.9rem;
}
.main-nav-imgBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 1rem;
  display: block;
  margin: auto;
}
.main-nav-logo {
  text-align: center;
  position: relative;
}
.main-nav-logo > img {
  width: 20rem;
  margin: auto;
  display: block;
  position: absolute;
  top: -107%;
}
.main-nav-imgBox > img {
  width: 3.7rem;
}
.main {
  width: 100vw;
  height: 1000px;
  position: relative; /* position을 relative로 설정 */
}
.main > p {
  position: absolute;
  top: 20%;
  right: 45%;
  color: white;
  font-size: 5rem;
  text-align: center;
}
.main > img {
  width: 1920px;
  height: 100%;
}
